# Copy this file to application-local.yml and replace the environment variables as needed.
spring:
  datasource:
    read:
      url: ${DB_READ_URL}
      username: ${DB_USER_NAME}
      password: ${DB_USER_PASSWORD}
      hikari:
        maximum-pool-size: 1
    write:
      url: ${DB_WRITE_URL}
      username: ${DB_USER_NAME}
      password: ${DB_USER_PASSWORD}
      hikari:
        maximum-pool-size: 1

  jpa:
    properties:
      hibernate:
        format_sql: false
        highlight_sql: false
        generate_statistics: false
        session.events.log.LOG_QUERIES_SLOWER_THAN_MS: 1000

  flyway:
    enabled: true

springdoc:
  api-docs:
    enabled: true

umji:
  security:
    jwt:
      issuer: ${JWT_ISSUER}
      audience: ${JWT_AUDIENCE}
      key-id: ${JWT_KEY_ID}
      public-key-path: ${JWT_RSA_PUBLIC_KEY_PATH}
      private-key-path: ${JWT_RSA_PRIVATE_KEY_PATH}
